/* Use variables for easy to update later. */
:root {
  --main-bg-color: #1e1e1e;
  --main-text-color: #00ff00;
  --main-font-family: "Share Tech Mono", monospace;
  --secondary-font-family: "Syne Mono", sans-serif;
  --main-input-color: #333;
  --secondary-color: #ff00ff;
}

/* Element Selectors */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family), monospace;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

form {
  margin-top: 20px;
}

hr {
  border: 1px dashed var(--main-text-color);
  margin-top: 20px;
}

input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-input-color);
  padding: 8px;
  margin: 10px 0;
}

textarea {
  color: var(--main-text-color);
  outline: none;
  padding: 8px;
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

td a {
  color: var(--main-text-color);
  text-decoration: none;
  animation: textChange 4s infinite;
}

td a:hover {
  text-decoration: underline;
}

th,
td {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}

ul a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul a:hover {
  text-decoration: underline;
  animation: textChange 2s infinite;
}

input[type="submit"] {
  background-color: var(--main-text-color);
  border: none;
  color: var(--main-bg-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  animation: colorChange 2s infinite;
}

/* Class Selectors */
.cursor {
  margin-left: 5px;
  font-weight: bold;
  color: var(--main-text-color);
  animation: blink 1s infinite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.label {
  color: var(--main-text-color);
}

.main {
  flex: 5;
}

.navbar a {
  color: var(--main-text-color);
  font-size: larger;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
  animation: textChange 2s infinite;
}

.title {
  font-size: 2em;
  font-family: var(--secondary-font-family);
  color: var(--main-text-color);
}

.post-image {
  max-width: 100%;
  height: auto;
  border: 5px solid var(--main-text-color);
}

.post-image:hover {
  animation: textChange 2s infinite;
  border: 5px solid;
}

.sidebar {
  flex: 2;
  order: -1;
  position: sticky;
  top: 0;
  font-family: var(--secondary-font-family);
  margin-right: 20px;
}

.sidebarnavTitle {
  font-family: var(--main-font-family);
}

.sidebar ul a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: small;
}

.sidebar ul a:hover {
  animation: textChange 2s infinite;
  text-decoration: underline;
}

.sidebarnav li {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 60%;
}

.parts,
.resources {
  text-decoration: underline;
}

/* ID Selectors */
#comment {
  background-color: var(--main-input-color);
  color: var(--main-text-color);
}

/* Animations */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    background-color: var(--main-text-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--main-text-color);
  }
}

@keyframes textChange {
  0% {
    color: var(--main-text-color);
  }
  50% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--main-text-color);
  }
}
