/* Use variables for easy to update later. */
:root {
  --main-bg-color: #1e1e1e;
  --main-text-color: #00ff00;
  --main-font-family: "Share Tech Mono", monospace;
  --main-input-color: #333;
  --secondary-color: #ff00ff;
}

/* Element Selectors */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Share Tech Mono", monospace;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  border-bottom: 1px solid var(--main-input-color);
  padding: 8px;
  margin: 10px 0;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

input[type="submit"] {
  background-color: var(--main-text-color);
  border: none;
  color: var(--main-bg-color);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  animation: colorChange 2s infinite;
}

p a {
  color: var(--main-text-color);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
  animation: textChange 2s infinite;
}

/* Class Selectors */
.cursor {
  margin-left: 5px;
  font-weight: bold;
  color: var(--main-text-color);
  animation: blink 1s infinite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.label {
  color: var(--main-text-color);
}

.navbar a {
  color: var(--main-text-color);
  font-size: larger;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
  animation: textChange 2s infinite;
}

.login-form {
  margin: 30px 0;
}

/* Animations */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    background-color: var(--main-text-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--main-text-color);
  }
}

@keyframes textChange {
  0% {
    color: var(--main-text-color);
  }
  50% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--main-text-color);
  }
}